body {
  font-family: "Baskerville", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", serif;
  font-weight: 600;
}

p,
span,
a,
button {
  font-family: "Baskerville", serif;
  font-weight: 600;
}

strong,
b {
  font-weight: 500;
}

.custom-icon {
  font-size: 100px;
  color: #9c27b0;
}
