.student__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.student__avatar {
    flex-shrink: 0;
    margin-right: 20px; 
}

.avatar {
    width: 80px; 
    height: 80px;
}

.student__details {
    text-align: center;
    flex-grow: 1;
}
